#banner-message {
    background: #fff;
    border-radius: 4px;
    padding: 5px;
    font-size: 25px;
    text-align: center;
    transition: all 0.2s;
    margin: 0 auto;

  }

  #breed_data {
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    font-size: 12px;
    text-align: left;
    transition: all 0.2s;
    margin: 0 auto;

  }

  #breed_image {
    background: #fff;
    margin: 0 auto;
    width: 460px;
  }

  .card {
    background-color: #fff !important;
    background-clip: border-box !important;
    border: 1px solid rgba(0, 0, 0, .125) !important;
    border-radius: .25rem;
  }

  .pl{
    padding-left: 7%;
  }

  .pr{
    padding-right: 5%;
  }

  .card-title{
    text-align: center;
  }
