
.hero{
  background-image: url('../images/dog.png');
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
}

.bg-light{
  background-color: #1A1A3C00!important;
}

.white{
  color: white!important;
}

.navbar-toggler-icon {
  background-image: url('../images/burger.png')!important;
  width: 40px;
}

.pt{
  padding-top: 5%;
}

.pb{
  padding-bottom: 5%;
}

.card{
  background-color: #fff0!important;
  border: none!important;
}
.subtitulo-index{
  text-align: center;
  margin-bottom: 5%;
  font-size: 30px;
  color: 	#696969	;
}

.index-texto-principal{
  margin: 10%;
}

.index-texto-principal h1{
  color: white;
  font-weight: bold;
  font-size: 40px;
}

.index-texto-principal p{
  color: #f2f2f2;
  font-size: 20px;
}

.btn-info{
  background-color: #73d9a9!important;
  font-weight: bold;
  border: none;
}

.fondo-container{
  width: 100%;
  height: 40%;
  background-image: url('../images/fondo.png');
  background-size:cover;
  background-repeat: repeat;
}

.fondo-container-servicios{
  width: 100%;
  height: 40%;
  background-image: url('../images/fondo-servicios.png');
  background-size:cover;
  background-repeat: repeat;
}

.card-title{
  color: 	#696969!important;
}

.fa-soap, .fa-dog, .fa-cut, .fa-paw, .fa-gem, .fa-star{
  color: #73d9a9;
  font-size: 100px;
}

.fa-soap:hover, .fa-dog:hover, .fa-cut:hover, .fa-paw:hover, .fa-gem:hover, .fa-star:hover{
  color: #c0a7d9;
}

.fondo-container-historia{
  width: 100%;
  height: 40%;
  background-color: #73d9a9;
}

.titulo-historia-inicio{
  color: #f2f2f2;
}

.texto-historia-index{
  color: #f2f2f2;
}

.imagen-historia-inicio{
  width: 60%;
  display:block;
  margin:auto;
}

.btn-light{
  background-color: #f2f2f2!important;
  color: #73d9a9;
  font-weight: bold;
  border: none;
}

.btn-light:hover{
  color:#c0a7d9!important;
}

.btn-secondary{
  background-color: white;
  color: #73d9a9;
  font-weight: bold;
  border: 2px solid #73d9a9;
}

.btn-secondary:hover{
  background-color: #73d9a9;
  color:white;
  font-weight: bold;
  border: 2px solid #73d9a9;
}

.btn-secondary:focus{
  background-color: #73d9a9;
  color:white;
  font-weight: bold;
  border: 2px solid #73d9a9;
}

.btn-secondary:not(:disabled):not(.disabled):active{
  background-color: white;
  color: #73d9a9;
  font-weight: bold;
  border: 2px solid #73d9a9;
}

.btn:focus{
  box-shadow: none;
}

.footer{
  color:#f7f7f7;
  background-color: #c0a7d9;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contactanos{
  padding: 114px 0 40px;
}

.btn-primary{
  background-color: #c0a7d9 !important;
  border-color : #c0a7d9 !important;
}

.footer p{
  margin-top: 10px;
}

.logo{
  height: 30px;
}
